<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841C3951-A611-422A-BF6B-C52461C2F4F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0560A06-CBE3-4527-B04A-ED63B8092958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>SonicXP</string>
	<key>description</key>
	<string>Google Calculator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Calculator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B0560A06-CBE3-4527-B04A-ED63B8092958</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>"{query}" copied to clipboard!</string>
				<key>title</key>
				<string>Google Calculator</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>841C3951-A611-422A-BF6B-C52461C2F4F7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>calc</string>
				<key>runningsubtext</key>
				<string>Calculating...</string>
				<key>script</key>
				<string>import sys
import urllib
import urllib2
import yaml
from xml.sax.saxutils import escape

xml_tpl = '''&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="%(uid)s" arg="%(arg)s" valid="YES"&gt;
    &lt;title&gt;%(title)s&lt;/title&gt;
    &lt;subtitle&gt;%(subtitle)s&lt;/subtitle&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;'''

def xml(uid, arg, title, subtitle=""):
    return xml_tpl % ({"uid": escape(uid), "arg": escape(arg), "title": title, "subtitle": subtitle})
    

try:
    q = "{query}"
    if len(sys.argv) &gt; 1:
        q = sys.argv[1]
    
    params = urllib.urlencode({"q": q})
    # faking browser user agent necessary to get back utf-8 encoding
    headers = { 'User-Agent' : 'Mozilla/5.0' }
    request = urllib2.Request("http://www.google.com/ig/calculator?hl=en&amp;" + params, None, headers)
    response = urllib2.urlopen(request).read()
    response = response.decode("utf-8")
    # replace magic thousand delimiter char
    response = response.replace(u"\u00A0", ".")
    
    data = yaml.load(response)
    
    error = data["error"]
    exp = data["lhs"]
    result = data["rhs"]
    
    title = q
    if error == "":
        result = result.replace("&lt;sup&gt;", "^").replace("&lt;/sup&gt;", "")
        title = result
        subtitle = exp + " = " + result
    else:
        try:
            errorcode = int(error)
        except:
            errorcode = -1
        
        if errorcode == -1:
            #subtitle = "Oh, Google says: " + error
            subtitle = "..."
        elif errorcode == 0:
            subtitle = q
            #subtitle = "Please complete expression..."
        elif errorcode == 4:
            subtitle = "..."
            #subtitle = "Sorry, cannot calculate that..."
        else:
            subtitle = "Google reported error code " + str(errorcode)

    print xml("calc {query}", result, title, subtitle)

except BaseException, e:
    print xml("calc {query}", "error", title, "Unexpected error", str(e))
</string>
				<key>subtext</key>
				<string>Calculate using Google calculator</string>
				<key>title</key>
				<string>Google Calculator</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>841C3951-A611-422A-BF6B-C52461C2F4F7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B0560A06-CBE3-4527-B04A-ED63B8092958</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
